<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/ak/a.jpeg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> I am a Computer Science MS student pursuing my research in the field of Machine Learning at IIT Ropar under the supervision of <a target="_blank" href="http://cse.iitrpr.ac.in/ckn/people/ckn.html">Dr. Narayanan C Krishnan</a>. My research work focuses on deep learning and generative modelling in the field of computer vision.</p>  
    <!--<p class="content">Want to know what I work on? Please visit my <a target="_blank" href="https://github.com/akku1506">Github</a> or <a href="https://scholar.google.com/citations?user=ZSLd8tYAAAAJ&hl=en">Google Scholar</a> profile</p>-->
    <p> For more details, please take a glimpse of my <a target="_blank" href="https://github.com/akku1506">resume</a></p>
	<!--
	<span class="content">Other important links:  </span>

    <a class="btn btn-social-icon btn-linkedin" target="_blank" href="link">
      <span class="fa fa-linkedin"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook" target="_blank" href="link">
      <span class="fa fa-facebook"></span>
    </a>
	-->
  </div>
</div>

