<div class="row">
    <h2>About Me</h2>
    <hr />
    <div class="col-sm-3">
        <div><img src="static/img/ak/a1.png" width="50%" height="50%" /></div>
    </div>
    <div class="col-sm-8">
        <p class="content">
            I am an Applied Scientist 2 at Amazon, where my work focuses on better representation learning for multimodal models and utilizing diffusion models. These days, I have been working on improving the visual cues of vision-language
            models. In particular, multimodal models hallucinate, and one of the reasons for hallucination is the lack of visual grounding. My research pursuits lie in the field of Machine learning, Computer vision, and at the intersection
            of Computer Vision and Natural Language Processing. Previously, I was a Research Fellow at
            <a target="_blank" href="https://www.microsoft.com/en-us/research/lab/microsoft-research-india/" style="color: blue;">Microsoft Research India</a>, working on generating SQL from text, mentored by
            <a target="_blank" href="https://www.microsoft.com/en-us/research/people/ariy/" style="color: blue;">Dr. Arun Iyer</a>. I completed my Master's under the supervision of
            <a target="_blank" href="https://seekayan.github.io/" style="color: blue;"> Dr. Narayanan C Krishnanan </a> at IIT Ropar. Apart from spending my time doing research, I hold a keen interest in dance and yoga that I believe bring
            tranquility in my life.
        </p>
        <p class="content">Besides my current experiences, I am always open to exploring new challenges and problems presented to me in this domain.</p>
        <!--<p class="content">Want to know what I work on? Please visit my <a target="_blank" href="https://github.com/akku1506" style="color: blue;">Github</a> or <a href="https://scholar.google.com/citations?user=ZSLd8tYAAAAJ&hl=en" style="color: blue;">Google Scholar</a> profile</p>-->
        <p class="content">For more details, please take a glimpse at my <a target="_blank" href="static/docs/My_resume.pdf" style="color: blue;">resume</a></p>
        <!-- <span class="content">Other important links: </span> <a class="btn btn-social-icon btn-linkedin" target="_blank" href="link"> <span class="fa fa-linkedin"></span> </a> <a class="btn btn-social-icon btn-facebook" target="_blank" href="link"> <span class="fa fa-facebook"></span> </a> -->
    </div>
</div>
