<div class="row">
  <h2>Achievements</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Ranked 520 across the globe in ACM ICPC 2014</li>
      <li class="newsElement">Head coordinator of Website team, technical events in ESPECTRO'13.</li>
      <li class="newsElement">Won 1st Prize in Tech Fest Event named “SEA OF C”, ”TODDER”(based on C, C++) in 2014,2013</li>
      <li class="newsElement">Participated in coding competition like, CODEVITA’13, ACM ICPC’14, CODEVITA’14.</li>
      <li class="newsElement">Won 2nd Prize in Tech Fest Event named “TODDER”(based on C++ coding)</li>
      <li class="newsElement">Awarded with <em>Best Student Of The Year</em> in Doon Public School, 2011</li>
      <li class="newsElement">Granted a scholarship in 10th and 12th from Doon Public School</li>
      <li class="newsElement">Awarded with <em>Little Mindian Scholarship</em> from HCL, 2009</li>
    </ul>
  </div>
  <hr>
</div>
