<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Masters in Computer Science</h3>
      <h4 class="content_heading">  Indian Institute of Technology, Ropar</h4>
        <p class="content">Specialization in Machine Learning</p>
        <!--<p class="content">Expected Graduation: May 2019</p>-->
        <p class="content">CGPA: <em>8.57</em>(Highest across all MS graduates)</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/ak/rpr.png" width="50%">
      <p>(July 2016 - Present)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Technology in Information Technology</h3>
      <h4 class="content_heading">Indira Gandhi Delhi Technical University for Women (IGDTUW)</h4>
        <p class="content">Passed with an aggregate of <em>84.99%</em></p>
        <p class="content">Class Rank: <em>3rd</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/ak/download.jpg" width="50%">
      <p>(August 2011 - June 2015)</p>
    </div>
  </div>

</div>