<div class="row">
    <h2>Experience</h2>
    <hr>
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Applied Scientist 2, Amazon</h3>
          <p class="content"> Worked on Auto Correction of Contents: Pipeline for Overlay Text Removal 'POTER' that precisely detects and eliminates artificially overlaid text. The system employs a modified Vision Transformer architecture and a novel ControlNet-based iterative post-processing technique to remove anomalous artifacts from inpainted images. Project is submited for patent. </p>
		  <p class="content"> Developed and deployed various large-scale multimodal models to improve the precision and flagging rate for content moderation.</p>
		  <p class="content"> Developed language-agnostic image-only model by distilling knowledge from multi-modal models to improve precision and F1 score.</p>
	      	  <p class="content"> Developed AdCreativeGen, an end-to-end system for generating high-quality, policy-compliant creative image and
video assets for Amazon Advertising, leveraging foundation models and custom modules including ControlNetXL,
prompt generators, background mask generators, and font style detection. </p>
		  <p class="content">Bar Raiser for Advertising Trust Tech since 2023. </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/amazon.png" width="120px">
        <p>(September 2019 - Current )</p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Fellow, Microsoft Research Labs </h3>
          <p class="content">Developed a model to convert natural language into SQL queries by integrating language models via program synthesis, ensuring semantics of SQL query are maintained.</p>
		  <p class="content">Decoupled problem into three strages of SQL Structure Prediction, Slot Filling and Re-ranking ensuring correct SQL code which is otherwise difficult to obtain via LSTM’s.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/msr.jpg" width="120px">
        <p>(August 2015 - July 2016 )</p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Teaching Assistantship, Indian Institute of Technology, Ropar</h3>
          <p class="content"> Machine Learning with Dr. Narayanan C Krishnan, Fall 2017 </p>
		  <p class="content"> Artificial Intelligence with Dr. Narayanan C Krishnan, Spring 2018 </p>
	<p class="content"> Mentored M.Tech student Prateek Munjal for his thesis, 2018-19 </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/rpr.png" width="120px">
		<p>(August 2017 - June 2018)</p>
	  </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Associate Software Developer, SAP LABS </h3>
          <p class="content">Worked at Commerial Project Management in Project Issue and Change Management(PICM) where we addressed requirements related to the efficient management of logging and documenting issues and changes, assigning responsible people, and managing tasks to process the issues and changes.</p>
		  <p class="content">Developed and deployed various Key Performance Indicators for monitoring the project using SAP's NetWeaverWebDynPro UI configurations and ABAP</p>
		  <p class="content">Analytical reports for assessing the project performance was also developed using SAP’s Business Warehouse Query Designing Tools</p>
		  <p class="content">Responsible for Ease of Deployment workforce</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/sap_logo.jpg" width="120px">
        <p>(July 2015 - July 2016 )</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Interned as Software Engineer, Cisco Systems Ltd</h3>
          <p class="content">Understood the basic concepts of DHCP and implemented its configurations for various topologies</p>
		  <p class="content">Automated the process of generating configurations of DHCP using Rapid Scripting Tool </p>
		  <p class="content">Minor fixes to their existing code was also proposed using ABCC (Accessing, Building, Coding and Committing) </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/cisco-logo.png" width="110px">
        <p>(June 2014 - August 2014)</p>
      </div>
    </div>

</div>
