<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Associate Software Developer, SAP LABS </h3>
          <p class="content">Worked at Commerial Project Management in Project Issue and Change Management(PICM) where we addressed requirements related to the efficient management of logging and documenting issues and changes, assigning responsible people, and managing tasks to process the issues and changes.</p>
		  <p class="content">Developed and deployed various Key Performance Indicators for monitoring the project using SAP's NetWeaverWebDynPro UI configurations and ABAP<\p>
		  <p class="content">Analytical reports for assessing the project performance was also developed using SAP’s Business Warehouse Query Designing Tools</p>
		  <p class="content">Responsible for Ease of Deployment workforce</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/sap_logo.jpg" width="120px">
        <p>(July 2015 - July 2016 )</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Interned as Software Engineer, Cisco Systems Ltd</h3>
          <p class="content">Understood the basic concepts of DHCP and implemented its configurations for various topologies</p>
		  <p class="content">Automated the process of generating configurations of DHCP using Rapid Scripting Tool </p>
		  <p class="content">Minor fixes to their existing code was also proposed using ABCC (Accessing, Building, Coding and Committing) </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/cisco-logo.png" width="110px">
        <p>(June 2014 - August 2014)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Teaching Assistantships, Indian Institute of Technology, Ropar</h3>
          <p class="content"> Machine Learning with Dr. Narayanan C Krishnan, Fall 2017 </p>
		  <p class="content"> Artificial Intelligence with Dr. Narayanan C Krishnan, Spring 2018 </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ak/rpr.png" width="120px">
		<p>(August 2017 - June 2018)</p>
	  </div>
    </div>

</div>
