  <div class="row">
    <h2>Projects</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Feature Generating Networks for Zero Shot Learning</h3>
        <br>
        <p class="content">Open source code of <a target="_blank" href="https://arxiv.org/pdf/1712.00981.pdf">Feature Generating Networks for Zero Shot Learning</a> was made available in Tensorflow</p>
        <p class="content"><a class="github-button btn" href="https://github.com/akku1506/Feature-Generating-Networks-for-ZSL" data-size="large" data-show-count="false" aria-label="gzgzsl">Code</a>
        <a class="github-button" href="https://github.com/akku1506/Feature-Generating-Networks-for-ZSL" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="fgzsl">Star</a>
        <a class="github-button" href="https://github.com/akku1506/Feature-Generating-Networks-for-ZSL" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="fgzsl">Fork</a></p>
      </div>
    </div>
    <br>
	<hr>
    <div class="row">
        <div class="col-sm-12">
          <h3 class="content_heading">Analysing the performance of Zero Shot Learning</h3>
          <br>
          <p class="content">Learned a common label space for ZSL and visualized the mapped examples in this common embedding space. We observed the effect of zero shot learning on various parameters like number of training instances per class, number of training classes and if some instances of test classes are already present.</p>
		  <p class="content">Further the performance on AwA dataset was improved by combining the learned embeddings with already given class label embeddings</p>
        </div>
    </div>
    <br>
	<hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Solving Sudoku via CSP</h3>
        <br>
        <p class="content">Converted problem of Sudoku into Constraint Satisfaction Problem and solved it through various strategies like backtracking search, backtrack search with minimum remaining value heuristic, backtracking search with the least constraining value heuristic and MAC.</p>
		<p class="content">Compared the various strategies on parameters like number of backtracks, time taken and memory constraints</p>
        <a class="github-button btn" href="https://github.com/akku1506/SudokuSolver" data-size="large" data-show-count="false" aria-label="sudoku on GitHub">Code</a>
        <a class="github-button" href="https://github.com/akku1506/SudokuSolver" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="sudoku on GitHub">Star</a>
        <a class="github-button" href="https://github.com/akku1506/SudokuSolver/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="sudoku on GitHub">Fork</a>
      </div>
    </div>
	<br>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Pac-Man Projects</h3>
        <br>
        <p class="content">Implemented depth-first, breadth-first, uniform cost, and A* search algorithms to help Pacman navigate in Pacman world.</p>
		<p class="content">Implemented multiagent minimax and expectimax algorithms to model Pacman search problem as an adversarial search.</p>
        <a class="github-button btn" href="https://github.com/akku1506/Pacman-Projects" data-size="large" data-show-count="false" aria-label="sudoku on GitHub">Code</a>
        <a class="github-button" href="https://github.com/akku1506/Pacman-Projects" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="sudoku on GitHub">Star</a>
        <a class="github-button" href="https://github.com/akku1506/Pacman-Projects/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="sudoku on GitHub">Fork</a>
      </div>
    </div>
	<br>
    <hr>

    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Genere Classification</h3>
        <br>
        <p class="content">From GTZAN Genre Collection we extracted 1000 tracks of classical, hiphop, metal and pop genres and trained a MLP from scratch on MFCC features extracted from each of the audio tracks</p>
      </div>  
    </div>        
	<br>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"> Website for CSE department IIT Ropar</h3>
		<p class="content"><a target="_blank" href="www.cse.iitrpr.ac.in"> Link </a></p>
      </div>
    </div>
    <br>
	<hr>
	<div class="row">
	<div class="col-sm-12">
	  <h3 class="content_heading">Data Analytics in Smart Homes</h3>
	  <br>
	  <p class="content">A system for recognizing activities in a home via supervised learning of 14 days was developed to ensure safety of an elderly aged person on basis of various parameters like level of independence, fitness quotient, accident detection.</p>
	  <p class="content">Ranked 3rd among Department of IT, IGDTUW.</p>
	</div>
	</div>
    <br>
	<hr>
	<div class="row">
	<div class="col-sm-12">
	  <h3 class="content_heading">Online E-Magazine Portal</h3>
	  <br>
	  <p class="content">Captured latest ongoing events of college allowing users to communicate with each other, share their feelings and writings.</p>
	</div>
	</div>
    <br>
  </div>
