<div class="row">

  <div class="col-sm-12">

    <h2>Publications</h2>

    <hr>

  </div>

</div>


<div class="row">

  <div class="col-sm-12">

    <div class="row">

      <div class="col-sm-12">

        <h3 class="content_heading">Semantically Aligned Bias Reducing Zero Shot Learning</h3>
        <p class="content">
              <p class="pubd">
                  <span class="authors"><b>Akanksha Paul</b><sup></sup>, Dr. Narayanan C. Krishnan<sup></sup>, <b>Prateek Munjal</b><sup></sup></span>
                  <br><span class="conf"><a href="https://openaccess.thecvf.com/content_CVPR_2019/papers/Paul_Semantically_Aligned_Bias_Reducing_Zero_Shot_Learning_CVPR_2019_paper.pdf">CVPR 2019</a></span>
                  <br>
              </p>
          </p>

        </div>

      <div class="col-sm-12">
        </div>

      <div class="row">

        <div class="col-sm-12">

          <h5 class="content_heading">SABR Architecture</h5>

          <img src="static/img/ak/sabr.png" alt="SABR" align="middle">

        </div>

      </div>

    </div>

  </div>

</div>


<hr>


<div class="row">

  <div class="col-sm-12">

    <div class="row">

      <div class="col-sm-12">

        <h3 class="content_heading">Implicit Discriminator in Variational Autoencoder</h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Prateek Munjal<sup>*</sup>, <b>Akanksha Paul<sup>*</sup></b>, Dr. Narayanan C. Krishnan</span>
                <br><span class="conf"><a href="https://arxiv.org/pdf/1909.13062">IJCNN 2020</a></span>
                <br>
            </p>
        </p>

        </div>

      <div class="row">

        <div class="col-sm-12">

          <h5 class="content_heading">IDVAE Architecture</h5>

          <img src="static/img/ak/idvae.jpg" alt="IDVAE" align="middle">

        </div>

      </div>

    </div>

  </div>

</div>
<!--
<div class="row">
    <h2>Publications</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
          <h3 class="content_heading">Semantically Aligned Bias Reducing Zero Shot Learning</h3>
          <p class="content">
              <p class="pubd">
                  <span class="authors"><b>Akanksha Paul</b><sup></sup>, Dr. Narayanan C. Krishnan<sup></sup>, <b>Prateek Munjal</b><sup></sup></span>
                  <br><span class="conf"><a href="https://openaccess.thecvf.com/content_CVPR_2019/papers/Paul_Semantically_Aligned_Bias_Reducing_Zero_Shot_Learning_CVPR_2019_paper.pdf">CVPR 2019</a></span>
                  <br>
              </p>
          </p>
        </div>
        <div class="col-sm-12">
        <p>
          <a class="github-button btn" href="https://github.com/akku1506/Semantically-Aligned-Bias-Reducing-Zero-Shot-Learning" data-size="large" data-show-count="false" aria-label="zsl">Code</a>
        <a class="github-button" href="https://github.com/akku1506/Semantically-Aligned-Bias-Reducing-Zero-Shot-Learning" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="zsl">Star</a>
        <a class="github-button" href="https://github.com/akku1506/Semantically-Aligned-Bias-Reducing-Zero-Shot-Learning" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="zsl">Fork</a>
        </p>
        </div>
         <div class="row">
            <div class="col-sm-12">
              <h5>SABR Architecture</h5>
              <img src="static/img/ak/sabr.png" alt="SABR" width="100%" height="400px">
            </div>
        </div>
    </div>
    <hr>


        <div class="row">
      <div class="col-sm-12">
          <h3 class="content_heading">Implicit Discriminator in Variational Autoencoder/h3>
          <p class="content">
              <p class="pubd">
                  <span class="authors">Prateek Munjal<sup>*</sup>, <b>Akanksha Paul<sup>*</sup></b>, Dr. Narayanan C. Krishnan</span>
                  <br><span class="conf"><a href="https://arxiv.org/pdf/1909.13062">IJCNN 2020</a></span>
                  <br>
              </p>
          </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h5>IDVAE Architecture</h5>
              <img src="static/img/ak/idvae.jpg" alt="IDVAE" width="100%" height="400px">
            </div>
        </div>
        </div>
        
      <div class="col-sm-12">
        <h3 class="content_heading">Evaluating Visual Conversational Agents via Cooperative Human-AI Games</h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Prithvijit Chattopadhyay<sup>*</sup>, <b>Deshraj Yadav</b><sup>*</sup>, Viraj Prabhu, Arjun Chandrasekaran, Abhishek Das, Stefan Lee, Dhruv Batra, Devi Parikh</span>
                <br><span class="conf"><a href="http://www.humancomputation.com/2017/">HCOMP 2017</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://github.com/VT-VISION-LAB/GuessWhich" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1708.05122">
            <img class="thumb" src="/static/img/hcomp.jpg" width="100%">
          </a>
        </div>

      </div>

      <div class="col-sm-12">
        <h3 class="content_heading">It Takes Two to Tango: Towards Theory of AI's Mind</h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Arjun Chandrasekaran<sup>*</sup>, <b>Deshraj Yadav</b><sup>*</sup>, Prithvijit Chattopadhyay<sup>*</sup>, Viraj Prabhu<sup>*</sup>, Devi Parikh</span>
                <br><span class="conf"><a>Chalearn Looking at People Workshop, CVPR 2017</a></span>
                <br>
            </p>
        </p>

        <p>
          <a href="https://deshraj.github.io/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Demo</button></a>
          <a href="https://github.com/deshraj/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1704.00717">
            <img class="thumb" src="/static/img/toaim.jpg" width="100%">
          </a>
        </div>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading">Visual Dialog</h3>
        <p class="pubd">
          <span class="authors">Abhishek Das, Satwik Kottur, Khushi Gupta, Avi Singh, <b>Deshraj Yadav</b>, José M.F. Moura, Devi Parikh, Dhruv Batra</span>
          <br><span class="conf"><a>CVPR 2017 - Spotlight</a></span>
        </p>

        <p>
          <a href="https://visualchatbot.cloudcv.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Demo</button></a>
          <a href="https://visualdialog.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Project Webpage</button></a>
          <a href="https://github.com/Cloud-CV/visual-chatbot" class="white-text"><button type="button" class="btn btn-primary ribbon">Visual Chatbot Code</button></a>
          <a href="https://github.com/batra-mlp-lab/visdial-amt-chat" class="white-text"><button type="button" class="btn btn-primary ribbon">Data Collection Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1611.08669">
            <img class="thumb" src="/static/img/vd_thumb.jpg" width="100%">
          </a>
        </div>
      </div> 
    </div>-->
